* {
  padding: 0;
  margin: 0;
  background-color: #000000;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  color: yellow;
  text-align: left;
  font-size: 16px;
  background-color: rgb(2, 8, 15);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 50px;
}

table,
th,
td {
  border: 0.5px solid yellow;
  border-collapse: collapse;
}

.head {
  order: 3;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  height: 100%;
  font-family: Helvetica;
  background-color: #000000;
}

aside {
  color: yellow;
  display: flex;
  justify-content: space-between;
  flex-direction: column; /* default */
  height: 100%;
  width: 200px;
  font-size: 20px;
  margin: 10px;
  color: yellow;
}

main {
  color: yellow;
  width: 100%;
  height: 90%;
}

.wrapper {
  width: 100%;
}

main h1 {
  justify-content: baseline;
  color: yellow;
  padding-left: 20%;
}

footer {
  color: yellow;
}

.flex-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: yellow;
}

a:hover {
  color: blue;
}

/* a:visited {
    color:aliceblue
  } */

/* Style the form element with a border around it */
form {
  border: 4px solid white;
  padding: 15px;
}

/* Add some padding and a grey background color to containers */
.container {
  padding: 10px;
  background-color: #black;
}

/* Style the input elements and the submit button */
input[type="text"],
input[type="submit"] {
  width: 25%;
  padding: 12px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid yellow;
  box-sizing: border-box;
}

/* Add margins to the checkbox */
input[type="checkbox"] {
  margin-top: 16px;
}

/* Style the submit button */
input[type="submit"] {
  background-color: #04aa6d;
  color: blue;
  border: none;
}

input[type="submit"]:hover {
  opacity: 0.8;
}

/* Newsletter Form Input Styling */
.container input[type="text"],
.container input[type="submit"] {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid yellow;
  background-color: transparent;
  color: yellow;
  box-sizing: border-box;
}

.container input[type="submit"] {
  background-color: #yellow;
  color: yellow;
  cursor: pointer;
}

.container input[type="submit"]:hover {
  opacity: 0.8;
}

/* Checkbox Label Styling */
.container label {
  color: yellow;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}
